<nav class="navbar" role="navigation" aria-label="main navigation">{% load i18n %}
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'pages:landing_page' %}">{% trans "Archivist" %}</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">{{ user }}</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'people:profile' %}">{% trans "Profile" %}</a>
                        <a class="navbar-item" href="{% url 'people:change-password' %}">
                            {% trans "Change password" %}
                        </a>

                        <hr class="navbar-divider">

                        <a class="navbar-item" href="{% url 'people:logout' %}">{% trans "Logout" %}</a>
                    </div>
                </div>
            {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'people:register' %}">
                            <strong>{% trans "Register" %}</strong>
                        </a>
                        <a class="button is-light" href="{% url 'people:login' %}">{% trans "Login" %}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>