{% extends 'archivist/base.html' %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Welcome" %}, <small class="text-muted">{% trans "Archivist" %}</small></h1>

    <figure>
        <blockquote class="blockquote">
            <p>{% trans "The only exam archive you will need during your studies." %}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            {% trans "Maybe you, in the future, to your buddy" %}
        </figcaption>
    </figure>

    <p>
        {% blocktrans %}
            Archivist is a web application for submitting and viewing memory transcripts for various courses at the
            <a href="https://www.ovgu.de" target="_blank">Otto von Guericke University</a> Magdeburg. The service is
            maintained and managed by the student council members.
        {% endblocktrans %}
    </p>

    <a class="btn btn-primary" href="{% url 'people:register' %}" role="button">{% trans "Register now" %}</a>
{% endblock %}
